.content-container {
    padding: 0 20px;
}
.content-wrap {
   max-width: 1100px;
    margin: 0 auto; 
}
.event-thumb {
    width: 220px;
    height: auto;
}

.indent {
	padding: 0 25px;
}

article {
	padding: 0 25px!important;
}
h1.page-title {
    margin: 1em 0 .5em!important;
}

#main-content h2 {
	margin-bottom: 1em;
}

/* Events archive */
.result {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.header {
    margin: 0;
    padding: 1.2em 25px;
}

@media only screen and (max-width: 567px) {

    .logo {
        width: 63px;
        height: 63px;
    }

}
@media only screen and (min-width: 568px) {

    .logo {
        width: 63px;
        height: 63px;
    }

}